.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-color);
}

.year {
    font-size: 14px;
    line-height: 19px;
    color: var(--text-color);
    opacity: 0.6;
}

.album {
    cursor: pointer;
}
